.header {
	position: relative;
	&__content {
		position: relative;
	}

	&__body {
		min-height: 100vh;
		display: flex;
		justify-content: center;
		//align-items: center;
		flex-direction: column;
	}

	&__title {
		padding: 0;
		margin: 0;
		font-size: calc(var(--index) * 8);
		line-height: 1;
		width: min-content; // переноситься по самому большому слову
		font-family: 'outfit-f', sans-serif;
		font-weight: 700;
	}

	&__image {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 37vw;
		top: 9vh;
		width: calc(var(--index) * 36);
		height: 100%;
	}
}
